
<ngx-spinner></ngx-spinner>

<div class="nav">
<h1>  WELCOME TO THE PAGE  </h1>
</div>
<div class="fra">
<iframe width="650" height="315" [src]='safeUrl' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="content1">
<p>  A binary tree is a hierarchical data structure in which each node has at most two children generally referred as left child and right child.

  Each node contains three components:
  
  Pointer to left subtree
  Pointer to right subtree
  Data element
  The topmost node in the tree is called the root. An empty tree is represented by NULL pointer.
</p>
<p>
  Binary Tree: Common Terminologies
  Root: Topmost node in a tree.</p>
 <p> Parent: Every node (excluding a root) in a tree is connected by a directed edge from exactly one other node. This node is called a parent.
  Child: A node directly connected to another node when moving away from the root.</p>
 <p>Leaf/External node: Node with no children.
  Internal node: Node with atleast one children.
  Depth of a node: Number of edges from root to the node.
  Height of a node: Number of edges from the node to the deepest leaf. Height of the tree is the height of the root
</p>
  <div class="context2">
    <p>

      Advantages of Trees
      Trees are so useful and frequently used, because they have some very serious advantages:
      
      Trees reflect structural relationships in the data.
      Trees are used to represent hierarchies.
      Trees provide an efficient insertion and searching.
      Trees are very flexible data, allowing to move subtrees around with minumum effort.
      Types of Binary Trees (Based on Structure)
      Rooted binary tree: It has a root node and every node has atmost two children.
      Full binary tree: It is a tree in which every node in the tree has either 0 or 2 children

    </p>


  <div class="claim">
  <h1>Above is the video to explain the concepts !</h1>
  </div>


  </div>

</div>


<router-outlet></router-outlet>